@use "sass:map";

$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;

$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #111;
$background-base: #FAFAFA;
$color-key1: #F5810E;
$color-key2: #FABE00;
$color-gradation: linear-gradient(180deg, #F8B819 0%, #F0D320 100%);

$width-inner: 1140px;

$breakpoints: (
  sp: "screen and (max-width: 767px)",
  pc: "screen and (min-width: 768px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
  font-family: $font-family-ja;
  background: $background-base;
}

.header {}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 22px 15px;

  @include mq(pc) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 21px;
    max-width: calc($width-inner + 30px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.header__logo {
  @include mq(pc) {
    padding-top: 6px;
  }

  a {
    img {
      width: 100px;
      display: block;

      @include mq(pc) {
        width: 135px;
      }
    }
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.header__link {
  font-weight: 700;
  letter-spacing: 0.48px;
}

.header__button {
  font-weight: 700;
  letter-spacing: 0.48px;
  padding: calc(10px - 2px) calc(30px - 2px);
  display: inline-block;
  border-radius: 60px;
  border: 2px solid #111;
  background: #fff;
}

.header__open {
  margin-top: 3px;

  @include mq(pc) {
    display: none;
  }
}

.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  border-radius: 6px;
  background: #111;

  &:nth-of-type(1) {}

  &:nth-of-type(2) {
    top: 9px;
  }

  &:nth-of-type(3) {
    top: 18px;
  }
}


.mv {
  border-radius: 20px;
  max-width: calc(100% - 15px * 2);
  margin-left: auto;
  margin-right: auto;
  background: $color-gradation;

  @include mq(pc) {
    border-radius: 30px;
    max-width: calc(100% - 30px * 2);
  }
}

.mv__inner {
  padding: 50px 20px 255px;
  position: relative;

  @include mq(pc) {
    padding-top: 110px;
    padding-bottom: 109px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc(1040px + 30px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.mv__content {}

.mv__lead {}

.mv__lead1,
.mv__lead2 {
  font-feature-settings: "palt" on;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.2px;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  @include mq(pc) {
    margin-left: 0;
    margin-right: 0;
    font-size: 38px;
    letter-spacing: 3.8px;
    padding: 12px 16px;
  }
}

.mv__lead1 {}

.mv__lead2 {
  margin-top: 8px;

  @include mq(pc) {
    margin-top: 14px;
  }
}

.mv__description {
  text-align: center;
  letter-spacing: 0.48px;
  font-weight: 700;
  margin-top: 26px;

  @include mq(pc) {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.54px;
    margin-top: 20px;
  }
}

.mv__button {
  margin-top: 22px;
  text-align: center;

  @include mq(pc) {
    text-align: left;
    margin-top: 30px;
  }

  a {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.48px;
    color: #fff;
    display: inline-block;
    padding: calc(10px - 2px) calc(30px - 2px);
    border-radius: 60px;
    border: 2px solid #fff;
    background: #111;
  }
}

.mv__image {
  position: absolute;
  right: 0;
  bottom: -108px;
  width: 100%;
  text-align: center;

  @include mq(pc) {
    width: calc(600px / 1040px * 100%);
    text-align: right;
    bottom: -88px;
    right: 30px;
  }

  img {
    width: 345px;

    @include mq(pc) {
      width: 600px;
    }
  }
}

.case {
  margin-top: 108px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    margin-top: 88px;
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
.case__inner {
  padding-left: 40px;
  padding-right: 40px;
  @include mq(pc) {
    max-width: calc(920px + 40px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}
.case__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.8px;
  text-align: center;

  @include mq(pc) {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
.case__items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;

  @include mq(pc) {
    margin-top: 54px;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
  }
}
.case__item {
  text-align: center;

  img {}
}