@use "sass:map";

$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;

$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #111;
$background-base: #FAFAFA;
$color-key1: #F5810E;
$color-key2: #FABE00;
$color-gradation: linear-gradient(180deg, #F8B819 0%, #F0D320 100%);

$width-inner: 1140px;

$breakpoints: (
  sp: "screen and (max-width: 767px)",
  pc: "screen and (min-width: 768px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
  font-family: $font-family-ja;
  background: $background-base;
}